@import "tailwindcss";
:root{
  scroll-behavior: smooth;
}
.nav-item {
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  transition: color 0.3s ease;
}
.nav-item:hover{
    color : #f57812;
}
.nav-item:first-child{
  color: #f57812;
}
.service-card{
  height: 500px;
}
.grad-border {
  padding: 3px;
  background: conic-gradient(red, yellow, green, cyan, blue);
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destintion-out;
  mask-composite: exclude;
}
.gallery-image {
  width: 400px;
  height: 250px;
}
.gallery-image:hover {
  transition: transform 0.5s ease;
  transform: scale(1.07);
  cursor: pointer;
}
@media (max-width: 638px) {
  .service-card{
    height: 350px;
  }
  .gallery-image{
    width: 300px;
    height: 150px;
  }
}
@media (min-width: 638px) and (max-width: 767px) {
  .service-card {
    height: 400px;
  }
  .gallery-image{
    width: 350px;
    height: 200px;
  }
}